*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row { //change name with BEM
  display: flex;
  flex-wrap: wrap;
}

[class*='col-'] {
  width: 100%;
  padding: 25px;
  float: left;
  @media(max-width: 767px) {
      padding: 15px;
  }
}

// Media query
@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
