*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-three;
  font-family: $font-one;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

// .row-container {//container for row for grid
//   width: 100%;
//   height: 100%;//?
//   max-width: 1300px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

.section-container {
  margin-top: 80px;
  margin-left: 220px;
  width: calc(100% - 240px);
  transition: all .40s;
}

.expanded {
  width: calc(100% - 100px);
  margin: 80px 0 0 80px;
  transition: all .40s;
}

.section {
  background-color: white;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*='col-'] {
  width: 100%;
  padding: 25px;
  float: left;
  @media(max-width: 767px) {
      padding: 15px;
  }
}

// Media query
@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
