@import url("https://fonts.googleapis.com/css?family=Damion|Open+Sans&display=swap&subset=latin-ext");

/* Colors */
$color-one: #004276;
$color-two: #f7f1e3;
$color-three: #e9e4da;
$color-four: #F58220;
$color-five: #84817a;


/* Fonts */
$font-one: "Open Sans", Helvetica, Arial;
$font-two: 'Damion', cursive;
