@import url("https://fonts.googleapis.com/css?family=Damion|Open+Sans&display=swap&subset=latin-ext");

/* Colors */
$paragraph-color: #004276;
$color-two: #E3E3E3;


/* Fonts */
$font-one: "Open Sans", Helvetica, Arial;
$font-two: 'Damion', cursive;
