.button {
  text-align: center;
}

.button--large, .button--small {
  text-decoration: none;
  background: $color-four;
  color: $color-two;
  margin: 20px;
  border: none;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: lighten($color-four, 10%);
  }
  &:focus {
    outline: none;
  }
}

.button--small {
  font-size: 20px;
  width: 45px;
  padding: 10px;
}

.button--large {
  padding: 10px 20px;
}

