.table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  line-height: 60px;
}

tr {
  text-align: left;
  &:first-child {
    border-top: 1px solid $color-seven;
  }
  &:hover {
    background: $color-two;
    transition: 0.5s;
    cursor: pointer;
    .table__icon {
      opacity: 1;
      &:hover {
        color: $color-four;
      }
    }
  }
}

td {
  border-bottom: 1px solid $color-seven;
  &:first-of-type {
    padding-left: 12px;
  }
}

.table__icon {
  height: 15px;
  width: 15px;
  opacity: 0;
  padding: 0 0 0 15px;
}


