.table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  line-height: 60px;
}

tr {
  text-align: left;
  &:first-child {
    border-top: 1px solid $color-seven;
  }
  &:hover {
    background: $color-two;
    transition: 0.5s;
    cursor: pointer;
    .table__icon {
      opacity: 1;
      &:hover {
        color: $color-four;
      }
    }
  }
  @media(max-width: 767px) {
    text-align: center;
    border-bottom: 1px solid $color-seven;
  }
  @media(min-width: 767px) {
    text-align: center;
    border-bottom: 1px solid $color-seven;
  }
}

td {
  border-bottom: 1px solid $color-seven;
  &:first-of-type {
    padding: 0 12px;
  }
  @media(max-width: 767px) {
    display: block;
    border-bottom: none;
    &:nth-of-type(3), &:nth-of-type(4) {
      display: inline-block;
    }
  }
  @media(min-width: 767px) {
    display: block;
    border-bottom: none;
  }
    &:nth-of-type(3), &:nth-of-type(4) {
      display: inline-block;
    }
}

.table__icon {
  height: 15px;
  width: 15px;
  opacity: 0;
  padding: 0 0 0 15px;
}
