.title {
  align-self: start;
  flex-basis: 100%;
  flex: 0 0 100%;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid $color-seven;
  color: darken($color-five, 100%);
  @media(max-width: 767px) {
    text-align: center;
  }
}

.title-postback {
  font-weight: 700;
  margin-bottom: 15px;
}
