.date__input::-webkit-inner-spin-button,
.date__input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-bottom: 1px solid $color-seven;
}

.date__form {
  position: relative;
  width: 320px;
  border: 1px solid $color-two;
  &:hover {
    border-color: $color-five;
    .date__icon {
      color: $color-five;
    }
    .date__input {
      &:nth-of-type(2){
        border-left: 1px solid $color-five;
      }
    }
  }
}

.date__input {
  padding: 5px 0 5px 10px;
  line-height: 30px;
  border: hidden;
  outline: none;
  cursor: pointer;
  background: none;
  &:nth-of-type(2){
    border-left: 1px solid $color-seven;
  }
}

.date__icon {
  position: absolute;
  top: 12px;
  right: 8px;
  font-size: 20px;
  color: $color-two;
}
