.graph {
  width: 80%;
  margin: 30px auto;
  @media(max-width: 767px) {
    display: none;
  }
}

.graph__title {
  font-size: 18px;
  padding: 20px 0;
}

.graph__chart {
  padding: 20px 0 40px 0;
}

