.graph {
  width: 80%;
  padding: 0 25px;
  margin: 0 auto;
  @media(max-width: 767px) {
    display: none;
  }
  @media(min-width: 767px) {
    margin-top: 0;
  }
}

.graph__title {
  font-size: 18px;
  padding: 20px 0;
}

.graph__chart {
  padding: 20px 0 40px 0;
  @media(min-width: 767px) {
    margin: 0 auto;
  }
}

